{% block font_awesome_widget %}
    <div class="input-group">
        {{ block('form_widget_simple') }}
        <span class="input-group-addon"></span>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#{{form.vars.id}}').iconpicker({{form.vars.picker_options|json_encode(constant('JSON_FORCE_OBJECT'))|raw}});
    });
    </script>
{% endblock %}
